nav {
  display: flex;
  flex-direction: row;

  padding: 0.4em 0 0.4rem;

  width: 100%;

  overflow: hidden;

  background-color: var(--dark_accent);
  opacity: 0.8;

  box-shadow: 0 -1.5rem 3rem var(--light_accent);
}

nav > div {
  margin: 0 0 0 0.4rem;

  text-align: center;

  background-color: var(--bg_sec);

  border-radius: 0.5rem;

  transition: opacity 0.5s;
}
nav > div:hover {
  opacity: 0.7;
}

nav > div > a > div {
  padding: 0.6rem;

  font-size: x-large;

  color: var(--fg_sec);
}
