.note,
#new_note_form {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  margin: 0 0 0.5rem 0;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;

  width: 75%;

  overflow: hidden;

  background-color: var(--bg_sec);
  color: var(--fg_sec);

  border-radius: 0.5rem;
}

.note > button,
#new_note_form > button {
  margin-left: auto;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}
.note > button:hover,
#new_note_form > button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.note:hover,
#new_note_form:hover {
  opacity: 0.9;
}

.note > p {
  margin-right: 0.25rem;
  padding: 0.2rem 0.2rem 0.2rem 0;
}

input#new_note_title {
  flex: 1;

  padding: 0 0.4rem 0 0.4rem;

  min-width: 3rem;

  background-color: rgba(255, 255, 255, 0.1);
  color: var(--fg_sec);

  border: 0;
  border-radius: 0.2rem;
}
input:focus {
  outline: none;
}

#note_context_menu {
  display: none;

  position: absolute;

  background-color: var(--bg_sec);
  color: var(--fg_sec);

  border: 1px solid var(--light_accent);
  border-radius: 0.2rem;
}

#note_context_menu > div {
  padding: 0.2rem;

  cursor: pointer;
}

#note_context_menu > div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#note_config_form {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;

  position: fixed;

  width: 20rem;
  max-width: 50%;

  top: 0px;
  bottom: 0px;
  right: -10000px;

  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);

  transition: right 0.4s;
}

#note_config_form > div {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
#note_config_form::first-child {
  align-self: flex-end;
}
