/* ------------main notes------------ */

#notes_container{
  margin-bottom: 0.5rem;
}

.note,
#new_note_form,
#search_notes_form > div {
  display: flex;
  flex-direction: row;

  margin: 0 0 0.5rem 0;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;

  width: 75%;
  max-width: 50rem;

  overflow: hidden;

  background-color: var(--bg_sec);
  color: var(--fg_sec);

  border-radius: 0.5rem;
}

.note > button,
#new_note_form > button,
#note_config_tags > div > button,
#search_notes_form > div > button {
  margin-left: auto;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}
.note > button:hover,
#new_note_form > button:hover,
#note_config_tags > div > button:hover,
#search_notes_form > div > button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#new_note_form > input,
#search_notes_form > div > input {
  flex: 1;

  margin-right: 3%;

  max-width: 45rem;
}

#search_notes_form > div {
  width: 65%;
}

.note:hover,
#new_note_form:hover,
#search_notes_form > div:hover {
  opacity: 0.9;
}

.note > p {
  margin-right: 0.25rem;
  padding: 0.2rem 0.2rem 0.2rem 0;

  max-width: 90%;

  overflow: hidden;
}

span {
  font-size: small;

  color: var(--fg_sec);
}

/* ------------note context menu------------ */

#note_context_menu {
  display: none;

  position: absolute;

  background-color: var(--bg_sec);
  color: var(--fg_sec);

  border: 1px solid var(--light_accent);
  border-radius: 0.2rem;
}

#note_context_menu > div {
  padding: 0.2rem;

  cursor: pointer;
}

#note_context_menu > div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ------------note edit menu------------ */

#note_config_form {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;

  position: fixed;

  width: 20rem;
  max-width: 60%;

  top: 0px;
  bottom: 0px;
  right: -45rem;

  color: var(--fg_contrast);

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);

  transition: right 0.5s;
  overflow: scroll;
}

#note_config_close,
#note_config_delete {
  width: fit-content;

  padding: .3rem;

  background-color: var(--bg_contrast);
}

#note_config_form > div > input,
#note_config_form > div > textarea {
  width: 80%;
  max-width: 90%;
  max-height: 20rem;

  padding: 0.3rem;
}

#note_config_form > div {
  display: flex;
  flex-direction: column;

  padding: 0.5rem 1rem 0.5rem 1rem;
}
#note_config_form > div > label {
  margin-bottom: 0.2rem;
}

#note_config_tags {
  display: flex;
  flex-wrap: wrap;
}

#note_config_tags > div {
  margin: 0 0.2rem 0.2rem 0;
  padding: 0.1rem 0.1rem 0.1rem 0.5rem;

  width: fit-content;
  max-width: 10rem;

  background-color: var(--bg_sec);
  color: var(--fg_sec);

  border-radius: 0.5rem;
}

#note_config_tags > div > button {
  margin-left: 0.5rem;
}

.hidden_submit_button {
  display: none;
}
